@page "/receiving"
@using WarehouseAssistant.Shared.Models
@using WarehouseAssistant.WebUI.Components

@code {

	private string RowStyleFunc(ReceivingItem arg1, int arg2)
	{
		string style = "";

		if (arg1.ExpectedQuantity == arg1.ReceivedQuantity)
		{
			style += "background-color:var(--mud-palette-success);";
			style += "color:var(--mud-palette-success-text);";
		}
		else if (arg1.ReceivedQuantity > arg1.ExpectedQuantity)
		{
			style += "background-color:var(--mud-palette-warning);";
			style += "color:var(--mud-palette-warning-text);";
		}

		return style;
	}

	private void ShowToastWithTooltip(string message, string tooltip, Severity severity)
	{
// @formatter:off
		Snackbar.Add(
				@<TextWithTooltip Text="@message" Tooltip="@tooltip"/>
			, severity);
		// @formatter:on
	}

}

@attribute [Authorize]

<Table TItem="ReceivingItem" @ref="_table" RowStyleFunc="RowStyleFunc">
	<ToolBarTemplate>
		<ReceivingInputForm Class="d-inline" hidden="@(!_table.Items?.Any())" OnInputSubmit="OnInputProvided"/>
		<MudButton hidden="@(!_table.Items?.Any())" Variant="Variant.Outlined" Color="Color.Primary"
		           OnClick="CompleteReceiving" Size="Size.Small">
			Завершить
		</MudButton>
		<MudSpacer/>
		<MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="SaveTableState"
		           Color="Color.Primary" EndIcon="@Icons.Material.Filled.Save"
		           hidden="@(!_table.Items?.Any())">
			Сохранить
		</MudButton>
	</ToolBarTemplate>
	<ColumnsTemplate>
		<PropertyColumn T="ReceivingItem" TProperty="string" Property="x => x.Name"
		                Title="Название" Sortable="true" Resizable="false" IsEditable="false"/>
		<PropertyColumn T="ReceivingItem" TProperty="string"
		                Title="Артикул" Sortable="false" Resizable="false" IsEditable="false">
			<CellTemplate>
				<CopyableLabel Text="@context.Item.Article"/>
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn T="ReceivingItem" TProperty="int" Property="x => x.ExpectedQuantity"
		                Title="Ожидаемое количество" Sortable="false" Resizable="false" IsEditable="false"
		                Filterable="false"/>
		<PropertyColumn T="ReceivingItem" TProperty="int" Property="x => x.ReceivedQuantity"
		                Title="Принятое количество" Sortable="false" Resizable="false" IsEditable="true">
			<EditTemplate>
				<MudNumericField T="int" @bind-Value="@context.Item.ReceivedQuantity"
				                 Min="0" Max="int.MaxValue" ErrorText="Недопустимое значение"/>
			</EditTemplate>
		</PropertyColumn>
	</ColumnsTemplate>
</Table>

<MudOverlay Visible="@_isBusy" DarkBackground="true" Absolute="true" AutoClose="false">
	<MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true"/>
</MudOverlay>

<MudMessageBox @ref="_articleInputBox" Title="Введите артикул" CancelText="Отмена">
	<MessageContent>
		<MudText Typo="Typo.body1">Возможно вы ввели штрих-код товара, который не был найден.</MudText>
		<MudText Typo="Typo.body1">Введите артикул, если хотите добавить товар или внести штрих-код.</MudText>
		<MudTextField T="string" @bind-Value="_articleInput" Label="Артикул" Variant="Variant.Outlined"
		              Required="true"/>
	</MessageContent>
</MudMessageBox>